h1 {
  background-color: #161513;
}

.u30-oicn {
  color: #c74634;
}

.uno {
  background-color: #3e686c;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.dos {
  color: #f0cc71;
  font-size: 100px;
  width: 20%;
  text-align: center;
  font-weight: bolder;
}

* {
  margin: 0px;
  padding: 0px;
}

.pt {
  color: #f8fafa;
  font-size: 28px;
  text-align: left;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  width: 40%;
}

.bt1 {
  width: 135px;
  height: 44px;
  background: #f0cc71;
  border-radius: 4px;
  font-family: Oracle Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13.75px;
  line-height: 16px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #161513;
}

.btc {
  padding-top: 5%;
}
/* main */

module1 {
  /* Take advantage of one or all of these
new offers for [COMPANY NAME]. */
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  /* or 114% */
  text-align: center;
  /* UI Light / Content / Primary */
  color: #161513;
}

.card{
    /* Card */
position: absolute;
width: 530px;
height: 258px;
background: #FFFFFF;
/* Shadow / SM */
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px;
/* Content Area, Teal */
height: 108px;
/* Teal / Teal 120 */
display:flex;
flex-direction: row;
}
.right{
    display: flex;
}
.left{display: flex}
.text{}
.amarillo{
    /* Card Headlines */
font-family: Oracle Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
display: flex;
align-items: center;
text-align: center;
/* Brand Dark / Brand Dark 50 */
color: #F0CC71;
}
.blanco{
        /* Card Sublines */
font-family: Oracle Sans;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 16px;
/* or 145% */
text-align: center;
/* Teal / Teal 10 */
color: #F8FAFA;
}

.icon{
/* Icons */
width: 98;
height: 64px;
align: center;
/* Teal / Teal 90 */
background: #628F8D;
font-size: xx-large;
}


/* footer */

.footer-section {
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: rgb(50, 44, 44);
}
ul {
  display: inline-block;
  font-family: Oracle Sans;
  font-style: normal;
}
li {
  display: inline-flex;
  margin: auto;
}
